section.screen#course 
	.section_in 
		.service_main 
			.service-block(data-aos="fade-down") 
				h2.fz32 Базовые программы обучения
				ul.service_list 
					-for(i = 0; i < 2; i++)
						- let title = ['Базовый курс по маникюру с нуля', 'Базовый курс по моделированию ногтей с нуля']
						- let txt = ['Подходит для тех, кто никогда не работал в сфере маникюра или работает в классической технике, но решил освоить аппарат', 'Подходит для мастеров, которые никогда не наращивали ногти или сталкиваются с трудностями выполнения постановки шаблона']
						li.service_item.trigger(data-target="course")
							img(src=`i/service/service-${i}.jpg`, alt="") 
							h3.fz20=title[i]
							p.fz16=txt[i]
							button(type="button" class="service_item--link fz16" ) Узнать подробнее
			.service-block(data-aos="fade-down") 
				h2.fz32 Курсы повышения
				p Предназначены для мастеров с наличием базового курса маникюра и опытом работы не менее 6 месяцев
				ul.service_list 
					-for(i = 0; i < 4; i++)
						- let title = ['Классический курс повышения по маникюру', 'Курс повышения по маникюру. Продвинутый уровень', 'Курс повышения по работе с жестким материалом', 'Курс повышения по прокачиванию скорости']
						- let txt = ['Подходит для мастеров, желающих усовершенствовать свой навык в выполнении комбинированного маникюра', 'Подходит для мастеров, которые хотели бы освоить или улучшить свои навыки по работе с акри/поли-гелем', 'Поможет усовершенствовать свои навыки в укреплении натуральных ногтей при помощи системы жестких материалов', 'Подходит для мастеров, желающих сократить свое время выполнения процедуры маникюр-гельлак']
							li.service_item.trigger(data-target="course")
								img(src=`i/service/service-${i + 2}.jpg`, alt="") 
								h3.fz20=title[i]
								p.fz16=txt[i]
								button(type="button" class="service_item--link fz16" ) Узнать подробнее