// Btn mixin

mixin btn(data)
	.btn(class=data.mod data-menuanchor=data.menu ? data.menu : '')
		if data.link
			a(href=data.menu ? `#${data.menu}` : `${data.linkUrl}` target=data.blank ? data.blank : '')=data.link
		else if data.submit
			input(type="submit" value=data.submit)
		else
			button(type="button" data-target=data.target class="trigger")=data.name

// End

// Input

mixin input(data)
	.global_input(class=data.class ? data.class : data.class="form_input")
		if data.type === "submit"
			input(type=data.type ? data.type : data.type="text" value=data.val ? data.val : data.val="Ваше имя")
		else
			input(type=data.type ? data.type : data.type="text" placeholder=data.place ? data.place : data.place="Ваше имя")

// End input
